body { font-size: 18px;  font-family: 'Lustria', serif; background: url('/static/img/lightpaperfibers.png'); }

h1 { font-size: 30px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }

h1, h2 { color: #0E805C; }
h1, h2 { color: #333; }
h1, h2, h3, h4, h5 { font-family: 'Raleway', sans-serif; text-transform: uppercase; letter-spacing: 0.04em; }
li a { font-family: 'Raleway', sans-serif;}
h2 a, h3 a, h4 a { color: #0E805C; }

a { color: #B3006E; color: #0E805C;}
a:hover, a:focus  { color: #B3006E; }

p img { margin-top: 5px; margin-bottom: 10px;}
img { max-width: 100%}


/*  HEADER */

#header { border-bottom: 1px solid #ddd;  margin-bottom: 30px; font-size: 18px; padding: 5px 0;}
#header a.site-title { color: #555;}

/*  HEADER END */


/* FRONT PAGE */ 

.other-sites li { margin-bottom: 40px; position: relative; font-size: 0.9em; 
line-height: 1.3; }
.other-sites li a { position: absolute; top:0; left: 0; right: 0; bottom: 0; z-index: 10;}
.other-sites li a:hover { opacity: 0.1; background-color: black; margin: -10px; }
.other-sites h3 { margin: 10px 0 5px 0; }

.blog-list-simple { font-size: 1.1em; line-height: 1.3; font-family: 'Raleway', sans-serif;}
.blog-list-simple li { margin-bottom:5px; font-size: 0.85em; }
.blog-list-simple li:nth-child(-n+10) {
    font-size: 1em;
    margin: 8px 0;
} 
.blog-list-simple li:nth-child(-n+3) {
    margin: 20px 0;
    font-size: 1.1em; 
} 
.blog-list-simple .date_published { margin-left: 5px; padding-bottom: 10px}

/* FRONT PAGE end */



/* FOOTER */

#footer { text-align: center; font-size: 16px; color: #aaa; padding: 100px 0; font-style:italic; }
#footer li { padding: 10px 8px 20px 0; }
#footer li a { padding: 10px; }

/* FOOTER end */


/* --- VIEW POST --- */


.post { margin-bottom: 60px;}
.date_published { color: #777; font-size: 14px; margin-bottom: -10px;}


.related-posts { overflow: hidden; font-family: 'Raleway', sans-serif; }
a.next-post, a.prev-post {
	border: 1px solid #DDD;
	padding: 10px;
}
a.next-post { float: right; }
a.prev-post { float: left;}

#sharebar { margin: 40px;
text-align: center; }
.twitter-share-button { vertical-align: text-bottom !important; margin-left: 25px; width: 100px !important}
#___plusone_0 { vertical-align: text-bottom !important; }


/* --- VIEW POST END --- */

form.blog-post input {}
form.blog-post .item { display: block;}
form textarea { height: 600px; width: 500px;}


@media (min-width: 768px) {
	.container {
    	width: 750px;
	}
}
@media (min-width: 1200px) {
  .container {
       	width: 750px;
  }
}

