    <div id="footer">
      <div class="container">
        <ul class="list-inline">        
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="http://www.anywheris.com/">Company</a>
          </li>
          <li>
            <a class="follow twitter" href="http://twitter.com/AnttiHalla">Twitter</a>
          </li>
          <li>
            <a class="follow linkedin" href="http://fi.linkedin.com/pub/antti-halla/0/283/129">LinkedIn</a>
          </li>
          <li>
            <a class="follow rss" href="/blog/feeds/rss/">Rss</a>
          </li>
          <li>
            <a href="http://mindonmaps.com">Mind maps</a>
          </li>
          <li>
            <a href="http://www.anywhereism.net">Nomad life</a>
          </li>
          <li>
            <a href="http://about.me/antti.halla">About</a>  
          </li>
        </ul>
        Antti Halla 2015
      </div>
    </div>
<script type="text/javascript" src="/static/site.js"></script>
