<div id="content">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Articles</h2>
      @(list-posts)
    </div>
    <div class="col-md-4 other-sites">
      <h2>My other sites</h2>
      <ul class="list-unstyled">
        <li><img src="/static/img/center_black1_fb.jpg" /><h3>Mind on Maps</h3><a href="http://mindonmaps.com"></a><em>Expand your memory, index your mind, organize your life. </em>Blog about computer assisted thinking (with mind maps).</li>
        <li><img src="/static/img/antti-mirje-innsbruck-340x200.jpg" /><h3>Anywhereism</h3><em>A journey as digital nomads. </em>Me and my wife have been living out of our backpacks for over 1000 days now.<a href="http://www.anywhereism.net"></a></li>
        <li><img src="/static/img/anywheris_logo.png" /><h3>Anywheris</h3><a href="http://www.anywheris.com"></a>Our company. I'm available for short-term, part-time, remote contract work. </li>
      </ul>
</div></div></div></div>
</li>
</div>
</div>
</div>
</div>
