
<div class="container article">
  <div class="row">
    <div class="col-md-9">
      <div class="date_published">@(post-date_published this-post)</div>
      <h1>@(post-title this-post)</h1>

      @(xexpr->string `(div [[class "post-body"]] ,@(parse-markdown (string-replace (post-body this-post) "\r" ""))))

      <div class="related-posts">
        @(when prev-post @(xexpr->string (prev-link prev-post)))
        @(when next-post @(xexpr->string (next-link next-post)))
      </div>
      <div id="comments">
        @(xexpr->string (render-disqus this-post))
      </div>
    </div>
  </diV>
</div>
