
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="date_published">@(post-date_published this-post)</div>
      <h1>@(post-title this-post)</h1>
                
      @(xexpr->string `(div [[class "post-body"]] ,@(parse-markdown (post-body this-post))))

      <div class="related-posts">
        @(when prev-post @(xexpr->string (prev-link prev-post)))
        @(when next-post @(xexpr->string (next-link next-post)))
      </div>
    </div>
  </diV>
</div>
